services:
  crawler:
    build: .
    environment:
      TZ: "Europe/Athens"
    command: ["python", "./xmltv/main.py"]
    # For volumes: instead of adding /app/xmltv/export as it would be normal, we add /app/export because /app has been
    # added to the PYTHONPATH in Dockerfile.
    volumes:
      - ./scrapy_export:/app/export
    restart: on-failure:1
