name: Get xmltv data
# Actions use UTC time, which is -2 hours from Europe/Athens.
# so, to grub xmltv data at 5.00 local need to schedule cron for 3.00 UTC.

on:
  schedule:
    - cron: '47 3 * * *'

jobs:
  Deploy:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: ghcr.io/${{ github.repository }}:edge
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      
      - name: Create export directory
        run: mkdir -p ${{ github.workspace }}/scrapy_export
      
      - name: Run the spiders
        run: docker-compose -f docker-compose.ci.yml up --exit-code-from crawler
      
      - name: Prepare for commit
        run: |
          cp scrapy_export/*.xml generated_xmltv/
          rm -rf scrapy_export/
          chmod 666 generated_xmltv/*
      
      - name: Commit generated xmltv and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Auto generated xmltv files for $(TZ=':Europe/Athens' date '+%d-%m-%Y %H:%M:%S')"
          git push
